<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{bibliotecario.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{bibliotecario.list.headline}]]</h1>
                <div>
                    <a th:href="@{/bibliotecarios/add}" class="btn btn-primary ms-2">[[#{bibliotecario.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${bibliotecarios.empty}">[[#{bibliotecario.list.empty}]]</div>
            <div th:if="${!bibliotecarios.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{bibliotecario.id.label}]]</th>
                            <th scope="col">[[#{bibliotecario.nombre.label}]]</th>
                            <th scope="col">[[#{bibliotecario.apellido.label}]]</th>
                            <th scope="col">[[#{bibliotecario.zona.label}]]</th>
                            <th scope="col">[[#{bibliotecario.numEmpleado.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bibliotecario : ${bibliotecarios}">
                            <td>[[${bibliotecario.id}]]</td>
                            <td>[[${bibliotecario.nombre}]]</td>
                            <td>[[${bibliotecario.apellido}]]</td>
                            <td>[[${bibliotecario.zona}]]</td>
                            <td>[[${bibliotecario.numEmpleado}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/bibliotecarios/edit/{id}(id=${bibliotecario.id})}" class="btn btn-sm btn-secondary">[[#{bibliotecario.list.edit}]]</a>
                                    <form th:action="@{/bibliotecarios/delete/{id}(id=${bibliotecario.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{bibliotecario.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
