<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{libro.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{libro.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/libros}" class="btn btn-secondary">[[#{libro.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('libro')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='libro', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libro', field='titulo')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libro', field='autor')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libro', field='isbn')}" />
                <div th:replace="~{fragments/forms::inputRow(object='libro', field='estado', type='select')}" />
                <input type="submit" th:value="#{libro.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
