<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{libro.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{libro.list.headline}]]</h1>
                <div>
                    <a th:href="@{/libros/add}" class="btn btn-primary ms-2">[[#{libro.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${libroes.empty}">[[#{libro.list.empty}]]</div>
            <div th:if="${!libroes.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{libro.id.label}]]</th>
                            <th scope="col">[[#{libro.titulo.label}]]</th>
                            <th scope="col">[[#{libro.autor.label}]]</th>
                            <th scope="col">[[#{libro.isbn.label}]]</th>
                            <th scope="col">[[#{libro.estado.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="libro : ${libroes}">
                            <td>[[${libro.id}]]</td>
                            <td>[[${libro.titulo}]]</td>
                            <td>[[${libro.autor}]]</td>
                            <td>[[${libro.isbn}]]</td>
                            <td>[[${libro.estado}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/libros/edit/{id}(id=${libro.id})}" class="btn btn-sm btn-secondary">[[#{libro.list.edit}]]</a>
                                    <form th:action="@{/libros/delete/{id}(id=${libro.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{libro.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
