<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{home.index.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="mb-4">[[#{home.index.headline}]]</h1>
            <p>[(#{home.index.text})]</p>
            <p class="mb-5">[(#{home.index.swagger})]</p>
            <div class="col-md-4 mb-5">
                <h4 class="mb-3">[[#{home.index.exploreEntities}]]</h4>
                <div class="list-group">
                    <a th:href="@{/lectors}" class="list-group-item list-group-item-action">[[#{lector.list.headline}]]</a>
                    <a th:href="@{/bibliotecarios}" class="list-group-item list-group-item-action">[[#{bibliotecario.list.headline}]]</a>
                    <a th:href="@{/prestamos}" class="list-group-item list-group-item-action">[[#{prestamo.list.headline}]]</a>
                    <a th:href="@{/libros}" class="list-group-item list-group-item-action">[[#{libro.list.headline}]]</a>
                </div>
            </div>
        </div>
    </body>
</html>
